<!--<div class="row">
  <ul id="thumbnailslist">
    <li *ngFor="let image of images | async" class="img">
    <img  src="{{image.url}}" alt="Image">
    </li>
  </ul>
</div>-->

<div class="row">
   <div class="col s12 m6 l6" *ngFor="let image of images | async">    
    <div class="card">
    <a [routerLink]="['/image',image.$key]"> 
    <div class="card-image">
       <img style="min-width: 250px; height:300px;" src="{{image.url}}">        
    </div>
    <div class="card-action">
    <button class="btn waves-effect waves-light red" (click)="remove(image.$key)">
        <i class="material-icons center">delete</i>
    </button>     
  </div>
    </a>
  </div>
  
  </div>
</div>